<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animated Blob | CSS & SVG Animation | Programming With Husnain</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<style>
    
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

 
    h1{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2em;
        z-index: 1;
        color: white; /* Hot Pink */
        font-family: "Poppins", sans-serif;
        font-size: 4em;
        text-shadow: 0 0 10px #ff69b4, 0 0 20px #ff69b4, 0 0 30px #ff69b4;
        letter-spacing: 2px;
    }
</style>
<body>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.0.55/build/spline-viewer.js"></script>
    <spline-viewer url="https://prod.spline.design/sB56GYVkECmKLRLO/scene.splinecode"></spline-viewer>
    <div><h1>Welcome to Paradox AI</h1></div>
</body>
</html>